h1{
  color: black;
  text-align: center;
 font-size: 50px;
  font-family: arial;
}
  
  

h2{
  text-align: center;
  font-family: arial;
  color: black;  
}

h3{
  font-family: arial;
}
img{
  margin-left: 450px;
  /* margin:20px; */
  /* border:15px solid green; */
  /* padding:10px; */
  /* height:100%; */
  /* width:100%; */
  

  
}


p{
  




  
}


#bob_the_button{
  text-align: center;
  background-color: blue;
  float: none;
 padding-left: 100px;
  padding-right: 100px;
}





.navbar-dark .nav-item .nav-link {
  color: #fff;
}

.navbar-dark .nav-item .nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease;
  border-radius: 0.25rem;
  color: #fff;
}

.fa-li {
  position: relative;
  left: 0;
}
}